.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.3),
    rgba(0, 0, 255, 0.1)
  );
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
